.card-body2{
	background-color: black;
	
}

.card-title{
	text-align: center;
}

.card-title a{
	color: rgb(255,194,82);
}

.button{
	color: black;
}

.black{
	color: black;
}

.table{
	margin-bottom: 0px;
}

