.card-body2{
	background-color: black;
	
}

.card-title{
	text-align: center;
}

.card-title a{
	color: rgb(255,194,82);
}

.button{
	color: black;
}

.black{
	color: black;
}

.table{
	margin-bottom: 0px;
}

.notif {
	background-color: black; 
	border-color: black; 
}

.notif:hover{
	background-color: black; 
	border-color: black; 
	color:rgb(255,194,82);
}

.notif:active{
	background-color: black; 
	border-color: black; 
	color:rgb(255,194,82);
}

